.cart {
	@apply w-screen h-screen fixed left-0 top-14 -translate-x-full transition-transform z-10;
	transform: translateX(-130%);
}

.cart.active {
	@apply translate-x-0;
}

.blur {
	@apply h-screen w-screen backdrop-blur-sm absolute;
	left: 30%;
	z-index: 2;
}

.content {
	@apply h-full bg-slate-500 relative -top-14;
	width: 30%;
	background-color: #e8ebef;
}
