.smallTitle {
	color: #dfae87;
}

.title {
	font-weight: 700;
	font-size: 21px;
	padding-bottom: 15px;
}

.info {
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: url('../../images/about-our-watch.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	left: -10px;

	svg {
		fill: #dfae87;
	}
}

.listItem {
	display: flex;
	align-items: center;
}

.wrapperInfo {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	margin-top: 50px;
}

.text p {
	padding-bottom: 10px;
}
