.block {
	@apply relative -top-20 p-14 z-0 left-0;
	width: 25%;
	border-radius: 20px;
	background: white;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.24);
	-moz-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.24);
	box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.24);
}

.icon {
	@apply w-20 h-20;
	margin: 0 auto 15px;
}

.benefits {
	@apply flex justify-evenly;
}

.title {
	@apply text-4xl font-black pb-2;
}

.text {
	@apply text-xl;
}
